pids
logs
results
npm-debug.log
node_modules
*~
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.idea
.idea/
.bower/
public/
logs/
.project
.settings
config/*.json
data/*.json
.arcanist-extensions/*/.phutil_module_cache